.hamburger {
    --rotate-time: .15s;
    --move-time: .1s;
}
/* center= top: 50%;
    transform: translateY(-50%);
 */
.hamburger {
    width: 60px;
    height: 45px;
    position: relative;
}
  
.hamburger span {
    position: absolute;
    height: 9px;
    width: 100%;
    background: #4009be;
    border-radius: 4.5px;
    left: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.hamburger span:nth-child(1) { top: 0px; }
    
.hamburger span:nth-child(2) { top: 50%; transform: translateY(-50%); }
  
.hamburger span:nth-child(3) { bottom: 0px; }

.hamburger-nav {

}

@media screen and (max-width: 639px) { 
    .hamburger.active span {
        transition: translate 0.5s 0.5s, rotate 0.5s 0.5s;
    }

    .hamburger-nav {
        position: absolute;
        top: -50px; 
        left: 0;
        width: 100%;
        background: white; 
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
        transition: transform 0.5s ease-in-out, top 0.5s ease-in-out, opacity 0.3s ease-in-out;
    }
    
    .hamburger-nav.active {
        transform: scaleY(1);
        opacity: 1;
        top: 8.5%; 
    }

.hamburger.active span:nth-child(1) 
{ 
translate:0 18px ;
rotate: 45deg;
}

  
.hamburger.active span:nth-child(2) 
{ 
transform: translateX(250%);
transition: transform 0.5s ease-in-out;

}

.hamburger.active  span:nth-child(3) 
{ 
    translate: 0 -18px;
    rotate: -45deg;
}

}

